[submodule "shooting-stars-api"]
	path = shooting-stars-api
	url = git@github.com:andrefs/shooting-stars-api.git
[submodule "shooting-stars-game"]
	path = shooting-stars-game
	url = git@github.com:andrefs/shooting-stars-game.git
[submodule "shooting-stars-stats"]
	path = shooting-stars-stats
	url = git@github.com:andrefs/shooting-stars-stats.git
[submodule "shooting-stars-images"]
	path = shooting-stars-images
	url = git@github.com:andrefs/shooting-stars-images.git
